.header {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    &__logo {
        height: 32px;
    }

    &__title {
        padding-left: 25px;

        i {
            padding-right: 5px;
        }
    }
}